<apex:page standardStylesheets="true" standardController="Contact" extensions="ContactRoleExtension">
  <apex:form >
     <apex:pageblock >
      <apex:pageBlockTable value="{!AccountRecords}" var="s">
          <apex:column headervalue="Account Name" >
              <apex:outputLink value="{!URLFOR($Action.Account.View,s.AccountId)}" target="_blank">{!s.Account.Name}</apex:outputLink> 
          </apex:column>
          <apex:column headerValue="Role" value="{!s.Role}"/>
          <apex:column headerValue="Primary" value="{!s.isprimary}"/>
      </apex:pageBlockTable>
     </apex:pageblock>
  </apex:form>
</apex:page>