<apex:page standardController="LLC_BI__Credit_Memo_Modifcation__c" extensions="nFORCE.TemplateController">
    <apex:outputPanel layout="none" rendered="{!ISNULL($CurrentPage.parameters.app)}">
    	<nFORCE:Includes enableBootstrap3="true" enableFontAwesome="true" enableBS3Namespace="true"/>
        <nFORCE:Include_Design_System flavor="vf" />
        <nFORCE:Include_Design_System flavor="bs3" />
        
       <apex:sectionHeader title="{!$Label.ECCP_Memo_Title}" subtitle="{!$Label.ECCP_Memo_Select_Approvers}"/>
        &laquo;&nbsp;
        <a href="/{!LLC_BI__Credit_Memo_Modifcation__c.Id}">{!$Label.ECCP_Select_Approvers_Back_To} {!LLC_BI__Credit_Memo_Modifcation__c.Name}</a>
        <div style="width:850px;">
            <c:ECCP_MemoApproval />
        </div>
    </apex:outputPanel>
    
    <apex:outputPanel layout="none" rendered="{!!ISNULL($CurrentPage.parameters.app)}">
    	<apex:composition template="nFORCE__Template_Heading">
            <apex:define name="left">
            	<div>
                	<apex:outputText value="{!$Label.ECCP_Memo_Select_Approvers}"/>
                </div>
            </apex:define>
        </apex:composition>
        <apex:composition template="nFORCE__Template_View_1_Column">
            <apex:define name="column-content">
            	<apex:composition template="nFORCE__Template_View_Container">
            		<apex:define name="content">
                        <c:ECCP_MemoApproval />
            		</apex:define>
            	</apex:composition>
            </apex:define>
        </apex:composition>
    </apex:outputPanel>
</apex:page>