<apex:page standardController="LLC_BI__Treasury_Service__c" extensions="TROGTMFeedSetup" showHeader="false" sidebar="false" docType="html-5.0">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"/>
<apex:includeScript value="/support/console/32.0/integration.js"/>
<apex:stylesheet value="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <apex:form >
        	<!--<apex:commandButton value="Generate GTM Feed" rendered="{!check}" action="{!initiateGTMRequest}" Oncomplete="Method3()" reRender="pagesection"/>-->
        	<apex:commandButton value="Generate GTM Feed" action="{!initiateGTMRequest}" Oncomplete="Method3()" reRender="pagesection"/>
        	<apex:actionFunction name="Method3" action="{!callback}" Oncomplete="javascript:window.top.location.href = '{!redirectUrl}';" />
        	
    </apex:form>
</apex:page>