<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Opportunity" extensions="OppProductViewController">

    <nDESIGN:Includes enableBootstrap3="true"/>

    <style type="text/css">
        body{
            font-size:12px;
        }
    </style>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('a').removeAttr('onfocus');
            jQuery('a').removeAttr('onmouseover');
            jQuery('a').removeAttr('onblur');
            jQuery('a').removeAttr('onmouseout');
            
            jQuery('a').attr('target', '_parent');
            jQuery('#loansbutton').removeAttr('target');
            jQuery('#depositsbutton').removeAttr('target');

            jQuery('#deposits').hide();

            jQuery('#loansbutton').click(function() {
                jQuery('#deposits').hide();
                jQuery('#loans').show();
                jQuery('#loansbutton').addClass('active');
                jQuery('#depositsbutton').removeClass('active');
            });

            jQuery('#depositsbutton').click(function() {
                jQuery('#deposits').show();
                jQuery('#loans').hide();
                jQuery('#loansbutton').removeClass('active');
                jQuery('#depositsbutton').addClass('active');
            });
        });
    </script>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="#" id="loansbutton" class="btn btn-success btn-sm active">Loans</a>
                    <a href="#" id="depositsbutton" class="btn btn-success btn-sm">Deposits</a>
                </div>
                <div class="panel-body table-responsive" style="max-height:240px;overflow:auto;">
                    <table class="table table-hover table-striped" id="loans">
                        <thead>
                            <tr>
                                <apex:repeat value="{!LoanFields}" var="lf">
                                    <th>
                                        <apex:outputLabel value="{!lf.Label}"/>
                                    </th>
                                </apex:repeat>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!loans}" var="l">
                                <tr>
                                    <apex:repeat value="{!LoanFields}" var="lf">
                                        <td>
                                            <apex:outputField value="{!l[lf.fieldPath]}"/>
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>

                    <table class="table table-hover table-striped" id="deposits">
                        <thead>
                            <tr>
                                <apex:repeat value="{!DepositFields}" var="df">
                                    <th>
                                        <apex:outputLabel value="{!df.Label}"/>
                                    </th>
                                </apex:repeat>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!deposits}" var="d">
                                <tr>
                                    <apex:repeat value="{!DepositFields}" var="df">
                                        <td>
                                            <apex:outputField value="{!d[df.fieldPath]}"/>
                                        </td>
                                    </apex:repeat>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</apex:page>