<apex:page standardController="LLC_BI__Product_Package__c" extensions="Preload_Poc_con" tabStyle="LLC_BI__Product_Package__c"  showHeader="false" sidebar="false" id="pg" standardStylesheets="true" >
    <style>
        .table {
        // border-collapse: collapse;
        width: 100%; 
        font-weight: normal;
        font-variant:initial;
        }
        .outBorder {
        //  border:1px outset black;
        padding-left: .9cm;
        width: 100%;
        // font: 15px;
        }
        
        .headerStyle {
        background-color:gray;
        border-right:1px;
        height:30px;
        font-size:13px;
        height:30px;
        border-style:solid;
        border-color:gray;
        }
        .headerRow .TableTitle {
        height:30px;
        border-style:solid;
        color: #0E6251!important;
        border-color:#0E6251;
        border-right:1px solid;font-size:13px; 
        }
        .errorClass {
    background-color: red;
}
.normalClass {
    background-color: green;
}
    </style>
    <script>
    
    
    function switchMenu(obj,obj1,obj2) 
    {
        var el = document.getElementById(obj);   
        
        if ( el.style.display != 'none' ) {
            el.style.display = 'none';
        }
        else {
            el.style.display = '';
        }
        var e2 = document.getElementById(obj1);                                       
        if ( e2.style.display != 'none' ) {
            e2.style.display = 'none';
        }
        else {
            e2.style.display = '';
        }
        var e3 = document.getElementById(obj2);                                       
        if ( e2.style.display != 'none' ) {
            e3.style.display = 'none';
        }
        else {
            e3.style.display = '';
        }
        
    }
    
     function switchMenuParent(obj,obj1,obj2) 
    {
        var el = document.getElementById(obj);   
        
        if ( el.style.display != 'none' ) {
            el.style.display = 'none';
        }
        else {
            el.style.display = '';
        }
        var e2 = document.getElementById(obj1);                                       
        if ( e2.style.display != 'none' ) {
            e2.style.display = 'none';
        }
        else {
            e2.style.display = '';
        }
        var e3 = document.getElementById(obj2);                                       
        if ( e2.style.display != 'none' ) {
            e3.style.display = 'none';
        }
        else {
            e3.style.display = '';
        }
        
    }
    
    
    </script>
    
    <apex:form id="frm">    
        
        <apex:sectionHeader title="Customer-Account" subtitle=" Exposure/Balance Information" >
        </apex:sectionHeader>
        <apex:pageBlock title="Exposure Summary" tabStyle="LLC_BI__Product_Package__c"  mode="inlineEdit"  >
            <apex:pageBlockButtons > 
                <apex:commandButton value="Save" action="{!saveAction}"/>
                <apex:commandButton value="Cancel"  action="{!cancelAction}" onclick="if(!confirm('Are you sure you want to close??')){return false};"/>                
                <apex:commandButton value="Back" action="{!backAction}"/>
                <apex:commandButton value="Add" action="{!backAction}"/>
            </apex:pageBlockButtons>
            <table id="originalDrilldowns2" class="list" border="0" cellpadding="0" cellspacing="0">
                <thead class ="TableTitle ">
                    <tr class="TableTitle">               
                        <th style="color: #0E6251!important;">Action</th>         
                        
                        <th style="color: #0E6251!important;">Relationship</th>
                        <th style="color: #0E6251!important;">Relationship Type</th>
                        <th style="color: #0E6251!important;">Account/Product</th>
                        <th style="color: #0E6251!important;">Outstanding Amount</th>
                        <th style="color: #0E6251!important;">Committed Amount</th>
                        <th style="color: #0E6251!important;">Exposure Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd"><td> 
                            <apex:outputPanel layout="none"><div class="arrow">
                                <apex:outputpanel id="plusimage1">
                                    <apex:image url="/img/alohaSkin/setup/setup_plus_lev1.gif" onclick="switchMenuParent('{!$Component.childOpannel}','{!$Component.minusimage1}','{!$Component.plusimage1}')" title="Expand - Related Child Exposure's"/> 
                                </apex:outputpanel>
                                </div></apex:outputPanel>
                                <apex:outputpanel id="minusimage1" style="display:none;">
                                    <apex:image url="/img/alohaSkin/setup/setup_minus_lev1.gif" onclick="switchMenuParent('{!$Component.childOpannel}','{!$Component.plusimage1}','{!$Component.minusimage1}')" title="Collapse - Related Child Exposure's"/>
                                </apex:outputpanel>                
                            </td>
                       <!-- <td >{!obje.loan}</td>-->
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.Rm}</td>
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.rmtype} </td>
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.prodtype} </td>
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.outStandingAmt}</td>
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.committedAmt}</td>
                        <td style="background-color:{!IF(obje.rmtype =='Borrower','#7CFC00', '')}">{!obje.exposureType}</td>
                    </tr>         
                </tbody>
            </table>           
          <apex:outputPanel style="display:none" id="childOpannel"> 
            <table id="originalDrilldowns" class="list" border="0" cellpadding="0" cellspacing="0">
               <!-- <thead class ="TableTitle ">
                    <tr class="TableTitle">
                        <th ></th>
                        <th class="TableTitle" style="color: #0E6251!important;">Action</th>
                        <th style="color: #0E6251!important;">Loan Number</th>
                        <th style="color: #0E6251!important;">Relationship</th>
                        <th style="color: #0E6251!important;">Relationship Type</th>
                        <th style="color: #0E6251!important;">Account/Product</th>
                        <th style="color: #0E6251!important;">Outstanding Amount</th>
                        <th style="color: #0E6251!important;">Committed Amount</th>
                        <th style="color: #0E6251!important;">Exposure Type</th>
                    </tr>
                </thead>-->
                <tbody> 
                    <apex:repeat value="{!obje.childPreEx}" var="wrap">
                        <tr class="odd">
                            
                            <td> 
                            <apex:outputPanel layout="none"><div class="arrow">
                                <apex:outputpanel id="plusimage">
                                    <apex:image url="/img/alohaSkin/setup/setup_plus_lev1.gif" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}')" title="Expand - Related Exposure's"/> 
                                </apex:outputpanel>
                                </div></apex:outputPanel>
                                <apex:outputpanel id="minusimage" style="display:none;">
                                    <apex:image url="/img/alohaSkin/setup/setup_minus_lev1.gif" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}')" title="Collapse - Related Exposure's"/>
                                </apex:outputpanel>                
                            </td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}"><apex:commandLink value="Edit"/>&nbsp;| &nbsp; <apex:commandLink value="Delete"/>| <input type="checkbox" id="cbox1" value="first_checkbox"/></td>
                            
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}" >{!wrap.cRm}</td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}">{!wrap.crmtype} </td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}">{!wrap.cprodtype} </td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}">{!wrap.coutStandingAmt}</td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}">{!wrap.ccommittedAmt}</td>
                            <td style="background-color:{!IF(wrap.crmtype =='Borrower','#7CFC00', '')}">{!wrap.cexposureType}</td>
                        </tr> 
                        
                        <tr>
                            
                            <td colspan="9">
                                <apex:outputPanel id="inlinetablesec" style="display:none" >
                                    
                                    <apex:variable value="{!0}" var="rowNum"/>
                                    <apex:repeat var="count" value="{!wrap.grandChilds}">
                                        <apex:variable var="rowNum" value="{!rowNum+1}"/>
                                    </apex:repeat>
                                    <apex:outputText rendered="{!rowNum=0}">  No Records </apex:outputText>
                                    
                                    <apex:dataTable value="{!wrap.grandChilds}" var="drilldown"  rendered="{!rowNum>0}"  styleclass="outBorder" >
                                        
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}" >
                                            <apex:facet name="header">Action</apex:facet>
                                            <apex:commandLink value="Edit"/>&nbsp;| &nbsp; <apex:commandLink value="Delete"/>| <input type="checkbox" id="cbox2" value="first_checkbox"/>
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}">
                                            <apex:facet name="header">Loan Number</apex:facet>
                                            {!drilldown.gcLoan}
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}">
                                            <apex:facet name="header">Relationship</apex:facet>
                                            {!drilldown.gcrm}
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}">
                                            <apex:facet name="header">Relationship Type</apex:facet>
                                            {!drilldown.gcrmtype} 
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}">
                                            <apex:facet name="header">Account/Product</apex:facet>
                                            {!drilldown.gcprodtype}
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}" >
                                            <apex:facet name="header">Outstanding Amount</apex:facet>
                                            {!drilldown.gcoutStandingAmt} 
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}" >
                                            <apex:facet name="header">Committed Amount</apex:facet>
                                            {!drilldown.gccommittedAmt}
                                        </apex:column>
                                        <apex:column style="background-color:{!IF(drilldown.gcrmtype =='Borrower','#7CFC00', '')}">
                                            <apex:facet name="header">Exposure Type</apex:facet>
                                            {!drilldown.gcexposureType} 
                                        </apex:column>
                                        
                                    </apex:dataTable>
                                </apex:outputpanel>
                            </td>             
                        </tr>  
                    </apex:repeat>
                </tbody> 
            </table> 
         </apex:outputPanel>    
            <!--<table id="originalDrilldowns" class="list" border="0" cellpadding="0" cellspacing="0">
<thead class ="TableTitle ">
<tr class="TableTitle">
<th ></th>
<th class="TableTitle" style="color: #0E6251!important;">Action</th>
<th style="color: #0E6251!important;">Loan Number</th>
<th style="color: #0E6251!important;">Relationship</th>
<th style="color: #0E6251!important;">Relationship Type</th>
<th style="color: #0E6251!important;">Account/Product</th>
<th style="color: #0E6251!important;">Outstanding Amount</th>
<th style="color: #0E6251!important;">Committed Amount</th>
<th style="color: #0E6251!important;">Exposure Type</th>
</tr>
</thead>
<tbody> 
<apex:repeat value="{!parentObj}" var="wrap" >
<tr class="odd">

<td><apex:outputPanel layout="none"><div class="arrow">
<apex:outputpanel id="plusimage">
<apex:image url="/img/alohaSkin/setup/setup_plus_lev1.gif" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.minusimage}','{!$Component.plusimage}')" title="Expand - Team Member's"/> 
</apex:outputpanel>
</div></apex:outputPanel>
<apex:outputpanel id="minusimage" style="display:none;">
<apex:image url="/img/alohaSkin/setup/setup_minus_lev1.gif" onclick="switchMenu('{!$Component.inlinetablesec}','{!$Component.plusimage}','{!$Component.minusimage}')" title="Collapse - Team Member's"/>
</apex:outputpanel>                
</td>
<td><apex:commandLink value="Edit"/>&nbsp;| &nbsp; <apex:commandLink value="Delete"/></td>
<td >{!wrap.loan}</td>
<td >{!wrap.Rm}</td>
<td >{!wrap.rmtype} </td>
<td >{!wrap.prodtype} </td>
<td >{!wrap.outStandingAmt}</td>
<td>{!wrap.committedAmt}</td>
<td >{!wrap.exposureType}</td>
</tr>


<tr>

<td colspan="9">
<apex:outputPanel id="inlinetablesec" style="display:none" >

<apex:variable value="{!0}" var="rowNum"/>
<apex:repeat var="count" value="{!wrap.childPreEx}">
<apex:variable var="rowNum" value="{!rowNum+1}"/>
</apex:repeat>
<apex:outputText rendered="{!rowNum=0}">  No Records </apex:outputText>

<apex:dataTable value="{!wrap.childPreEx}" var="drilldown"  rendered="{!rowNum>0}"  styleclass="outBorder" >

<apex:column >
<apex:facet name="header">Action</apex:facet>
<apex:commandLink value="Edit"/>&nbsp;| &nbsp; <apex:commandLink value="Delete"/>
</apex:column>
<apex:column >
<apex:facet name="header">Loan Number</apex:facet>
{!drilldown.Loan}
</apex:column>
<apex:column >
<apex:facet name="header">Relationship</apex:facet>
{!drilldown.rm}
</apex:column>
<apex:column >
<apex:facet name="header">Relationship Type</apex:facet>
{!drilldown.rmtype} 
</apex:column>
<apex:column >
<apex:facet name="header">Account/Product</apex:facet>
{!drilldown.prodtype}
</apex:column>
<apex:column >
<apex:facet name="header">Outstanding Amount</apex:facet>
{!drilldown.outStandingAmt} 
</apex:column>
<apex:column >
<apex:facet name="header">Committed Amount</apex:facet>
{!drilldown.committedAmt}
</apex:column>
<apex:column >
<apex:facet name="header">Exposure Type</apex:facet>
{!drilldown.exposureType} 
</apex:column>

</apex:dataTable>
</apex:outputpanel>
</td>             
</tr>  
</apex:repeat>
</tbody>
</table>--->
            
        </apex:pageBlock>
        
        
        
    </apex:form>
</apex:page>