<apex:page standardController="Account" >
 <style>
    .myFormStyle
    {
        background-color: yellow;
    }
 </style>

    <apex:form styleClass="myFormStyle">
      <apex:outputText escape="false" value="{!$Label.Private_Label_Indicator}" style="font-weight:bold; width-size:300;" rendered="{!(Account.Private_Label__c==true)}" />
    </apex:form> 
</apex:page>