<apex:page title="Project Planning Dependencies" standardController="LLC_BI__Product_Package__c" extensions="ctlr_ProjectPlanning">
    <apex:stylesheet value="{!URLFOR($Resource.ProjectPlanning, 'dhtmlxgantt_skyblue.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.ProjectPlanning, 'projectplanning.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ProjectPlanning, 'dhtmlxgantt.js')}"/>
    <head>
        <script>
            <!-- This is to prevent focus getting on the datepicker when the page loads -->
            function setFocusOnLoad() {}
        </script>
        
        <style type="text/css">
        </style>
    </head>
    <apex:outputPanel id="error">
        <apex:pageMessages id="messages" escape="false"/>
    </apex:outputPanel>
    <table class="table1">
        <tr>
            <th class="tableTitle">Project Planning – <span style="font-size: 10.0pt;">Product Package {!LLC_BI__Product_Package__c.Name}</span><br/></th>
        </tr>
    </table>
    
    <apex:form id="theForm">
        <apex:dataTable value="{!myServicesList}" var="ts" cellpadding="0" cellspacing="2" rowClasses="tableRow,tableRowBlue" styleClass="table1" headerClass="tableHeadGrayLeft">
            <apex:column styleClass="tableRow" headerValue="Treasury Service">
                <apex:outputText value="{!ts.treasuryService.Name}"/>
            </apex:column>
            <apex:column styleClass="tableRow" headerValue="Delay Implementation">
                <apex:inputField value="{!ts.treasuryService.Delay_Implementation__c}"/>
            </apex:column>
            <apex:column styleClass="tableRow" headerValue="Planned Implementation Date">
                <apex:inputField value="{!ts.treasuryService.Planned_Implementation_Start_Date__c}"/>
            </apex:column>
            <apex:column styleClass="tableRow" headerValue="Dependent On">
                <apex:selectList value="{!ts.prereqService}" multiselect="false" size="1">
                    <apex:selectOptions value="{!serviceNames}"/>
                </apex:selectList>
            </apex:column>
        </apex:dataTable>
        <table class="table1"><tr><td class="tableRowTop">&nbsp;</td></tr></table>
        <apex:commandButton styleClass="buttonClass" value="Save Data" action="{!saveData}" rerender="error,status,gantt" status="outputStatus"/>
        &nbsp;&nbsp;
        <apex:commandButton styleClass="buttonClass" value="Return" action="{!returnBack}" status="outputStatus"/>
    
    
    <apex:outputPanel layout="block" title="Operation Status" id="status" style="color:black; font-weight:bold; text-align:center;">
        <apex:actionStatus id="outputStatus">
            <apex:facet name="start">
                Please Wait...<br/><img src="{!URLFOR($Resource.ProjectPlanning, 'loadinganimation.gif')}" width="200px" height="50px" />
            </apex:facet>
            <apex:facet name="stop">
                <apex:outputText escape="false" value="{!statusMsg}"/>
            </apex:facet>
        </apex:actionStatus>
    </apex:outputPanel>
    
    <br/><br/>
    <apex:outputPanel id="gantt">
        <c:ProjectPlanningGantt packageId="{!LLC_BI__Product_Package__c.Id}" messageId="messages" rendered="{!displayGantt}" />
    </apex:outputPanel>
    
    </apex:form>
</apex:page>