<apex:page controller="SearchScenarioController">
 <apex:pageBlock title="Proforma Search">
     <apex:pageBlockSection >
         <apex:form >
            <table style="border-spacing: 80px 0px;">
                <tr>
                    <td>
                        <table>
                              <tr >
                                <td width="30%"><apex:outputLabel value="Request Id" for="theRequestId"/></td>
                                <td width="70%"><apex:inputText value="{!requestId}" id="theRequestId" size="20"/></td>
                            </tr>
                            <tr >
                                <td width="30%" ><apex:outputLabel value="Customer IPI" for="theCustomerIPI"/></td>
                                <td width="70%" ><apex:inputText value="{!customerIPI}" id="theCustomerIPI" size="20"/></td>
                            </tr>
                            <tr>
                                <td width="30%" ><apex:outputLabel value="Client Name" for="theClientName"/></td>
                                <td><apex:inputText value="{!clientName}" label="Customer IPI" id="theClientName" /></td>
                            </tr>
                             <tr>
                                <td width="80%" ><apex:outputLabel value="ECP Sales Advisor" for="theECPSalesAdvisor"/></td>
                                <td><apex:inputText value="{!ECPSalesAdvisor}" label="Customer IPI" id="theECPSalesAdvisor" size="20"/></td>
                            </tr>
                             <tr>
                                <td width="30%" ><apex:outputLabel value="Relationship Manager" for="theRelationshipManager"/></td>
                                <td><apex:inputText value="{!relationshipManager}" label="Customer IPI" id="theRelationshipManager" size="20"/></td>
                            </tr>
                            <tr>
                                <td width="30%"><apex:outputLabel value="Requestor" for="theRequestor"/></td>
                                <td><apex:inputText value="{!requestor}" label="Customer IPI" id="theRequestor" size="20"/></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="border-spacing: 10px 60px;">
                            <tr>
                                <td>
                                    <apex:selectList multiselect="false" size="1" value="{!boolOperator}" id="theboolOperator">
                                        <apex:selectOption itemLabel="And" itemValue="And"/>
                                        <apex:selectOption itemLabel="Or" itemValue="Or"/>
                                    </apex:selectList>
                                </td>
                                <td><apex:commandButton action="{!search}" value="Search" reRender="searchResults" id="theSaveButton"/></td>
                            </tr>
                          <!--  <tr>
                            <td><apex:outputText ><b>"And" locates Proformas with all requested fields.<br/>
                            "Or" locates Proformas with one or more requested fields</b></apex:outputText></td>
                            </tr> -->
                        </table>
                    </td>
                </tr>
            </table>
        </apex:form>
     </apex:pageBlockSection>
    <apex:pageBlockSection title="Search Results" id="searchResults">
    <apex:form >
        <apex:pageBlockTable var="scenario" value="{!records}" rendered="{!NOT(ISNULL(records))}">
            <apex:column headerValue="Name">
               <apex:outputLink value="/{!scenario.Id}">{!scenario.Name}</apex:outputLink>
            </apex:column>
            <apex:column headervalue="Status" value="{!scenario.LLC_BI__Status__c}"/>
            <apex:column headervalue="Created" value="{!scenario.CreatedDate}"/>
            <apex:column headervalue="Customer IPI" value="{!scenario.Customer_IPI_Number__c}"/>
            <apex:column headervalue="Requestor" value="{!scenario.OwnerId}"/>

        </apex:pageBlockTable>
        <apex:panelGrid columns="3">
    <apex:commandLink action="{!previous}" rendered="{!hasPrevious}">Previous</apex:commandlink>
    <apex:commandLink action="{!next}" rendered="{!hasNext}">Next</apex:commandlink>
    <apex:outputText rendered="{!numPages > 0}">Page {!pageNumber} of {!numPages} </apex:outputText>
    </apex:panelGrid>
    </apex:form>
   </apex:pageBlockSection>
 </apex:pageBlock>
 <script type="text/javascript">
  document.getElementById('{!$Component.theSaveButton}').focus();
</script>


</apex:page>