<apex:page standardController="LLC_BI__Treasury_Service__c" extensions="TSO_New_LocationVFC" >
    <flow:interview name="TSO_New_Location" interview="{!flow}" finishLocation="{!TreasuryServiceView}" >
        <apex:param name="ProductId" value="{!LLC_BI__Treasury_Service__c.LLC_BI__Product_Reference__c}"/>
        <apex:param name="ParentTreasuryServiceID" value="{!LLC_BI__Treasury_Service__c}"/>
        <apex:param name="Application" value="{!LLC_BI__Treasury_Service__c.LLC_BI__Default_App__c}"/>
        <apex:param name="Name" value="{!LLC_BI__Treasury_Service__c.Name}"/>
        <apex:param name="TSAccountID" value="{!LLC_BI__Treasury_Service__c.LLC_BI__Relationship__c}"/>
        <apex:param name="ProductPackageID" value="{!LLC_BI__Treasury_Service__c.LLC_BI__Product_Package__c}"/>
    </flow:interview>
</apex:page>