<apex:page controller="logindetailscontroller" id="page" extensions="OpportunityDetails,ParticipantDetails" sidebar="false" action="{!updateProgress}">
<apex:form >
<style>

#circleRed {
  position: relative;
  background: radial-gradient(rgb(224,167,167),rgb(194,84,84)); 
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border-color: black;
  border-width: 3px;
  stroke:"blue" ;
  stroke-width:"3";
}
#circleYellow {
  position: relative;
  background: radial-gradient(rgb(227,227,179), rgb(194,194,84));
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border-color: black;
  border-width: 3px;
}
#circleGreen {
  position: relative;
  background: radial-gradient(rgb(167,224,167),rgb(84,194,84));
  margin: 20px auto;
  width: 60px;
  height: 60px;    
  border-radius: 40px;
  border-color: black;
  border-width: 3px;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0,0,0);
}

</style>

    <script language="Javascript">
        
function openwindow(){
    var url = "apex/OpportunityDetailPage";
    window.open(url, '_top');
 } 
 
 function openwindowcall(){
    var url = "apex/ParticipantDetailPage";
    window.open(url, '_top');
 }    
 
 function openwindowcall1(){
    var url = "apex/ThisMonthParticipantDetailPage";
    window.open(url, '_top');
 }  
 
  function openwindow2(){
    var url = "apex/PastDueOpportunities";
    window.open(url, '_top');
 }  
 
</script>  

<apex:pageblock title="Adoption Metrics">
     
<apex:outputPanel > 

    <table width="80%" align="center" cellspacing="0" style="border-collapse:collapse">
      <tr>
          <td width="28%"> 
               <table width="70%" align="center" >
                   <caption><b><font face="arial" size="3" color ="Black"> Login </font></b></caption>
                   <tr>              
                       <td align="center" colspan="2"><font size ="1" color = "Grey">Number of times you have logged in</font></td>
                       </tr>     
                  
                    <tr >
                        <td>
                            <apex:outputPanel rendered="{!If(monthlogin <= 1,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!monthlogin}</font></b></div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!If(monthlogin == 2,true,false)}">
                                <div id="circleYellow" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!monthlogin}</font></b></div>
                                </div>
                           </apex:outputPanel>
                           <apex:outputPanel rendered="{!If(monthlogin >= 3,true,false)}">    
                                <div id="circleGreen" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!monthlogin}</font></b></div>
                                </div>
                           </apex:outputPanel>
                        </td> 
                        <td>
                            <apex:outputPanel rendered="{!If(lastMonthLogin <= 1,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!lastMonthLogin}</font></b></div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!If(lastMonthLogin == 2,true,false)}">
                                <div id="circleYellow" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!lastMonthLogin}</font></b></div>
                                </div>
                           </apex:outputPanel>
                           <apex:outputPanel rendered="{!If(lastMonthLogin >= 3,true,false)}">    
                                <div id="circleGreen" title="Threshold Colors: Red: 0-1, Yellow: 2, Green: 3+">
                                    <div id="text"><b><font size="2">{!lastMonthLogin}</font></b></div>
                                </div>
                           </apex:outputPanel>                        
                        </td>  
                                                              
                    </tr>
                    <tr>
                        <td align="center">
                            <b><font size="1" color ="Black">This Month</font></b>
                        </td>
                        <td align="center">
                            <b><font size="1" color ="Black">Last Month</font></b>
                        </td>                                              
                    </tr>
               </table>
           </td>
           <td width="28%">
               <table width="70%" align="center" >
                   <caption><b><font face="arial" size="3" color ="Black"> Calls </font></b></caption>
                    <tr>              
                       <td align="center" colspan="2"><font size ="1" color = "Grey">Number of calls you are a participant on</font></td>
                    </tr>        
                    <tr > 
                        <td width="50%">
                            <apex:outputPanel rendered="{!if(thiscallcount < 1,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <div id="text"><b><font size="2">{!thiscallcount}</font></b></div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(thiscallcount >=1 && thiscallcount <= 2 ,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <a href= "/apex/ThisMonthParticipantDetailPage" OnClick="openwindowcall1()">
                                    <div id="text"><u><b><font size="2">{!thiscallcount}</font></b></u></div></a>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(thiscallcount > 2 && thiscallcount < 5,true,false)}">
                                <div id="circleYellow" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <a href= "/apex/ThisMonthParticipantDetailPage" OnClick="openwindowcall1()">
                                    <div id="text"><u><b><font size="2">{!thiscallcount}</font></b></u></div></a>
                                </div>
                           </apex:outputPanel>
                           <apex:outputPanel rendered="{!if(thiscallcount >= 5,true,false)}">    
                                <div id="circleGreen" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <a href= "/apex/ThisMonthParticipantDetailPage" OnClick="openwindowcall1()">
                                    <div id="text"><u><b><font size="2">{!thiscallcount}</font></b></u></div></a>
                                </div>
                           </apex:outputPanel>
                        </td> 
                        <td width="50%">
                            <apex:outputPanel rendered="{!if(lastcallcount < 1,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <div id="text"><b><font size="2">{!lastcallcount }</font></b></div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(lastcallcount >=1 && lastcallcount  <= 2 ,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <a href= "/apex/ParticipantDetailPage" OnClick="openwindowcall()">
                                    <div id="text"><u><b><font size="2">{!lastcallcount }</font></b></u></div></a>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(lastcallcount > 2 && lastcallcount < 5,true,false)}">
                                <div id="circleYellow" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                    <a href= "/apex/ParticipantDetailPage" OnClick="openwindowcall()"> 
                                     <div id="text"><u><b><font size="2">{!lastcallcount}</font></b></u></div></a>
                                </div>
                           </apex:outputPanel>
                           <apex:outputPanel rendered="{!if(lastcallcount >= 5,true,false)}">    
                                <div id="circleGreen" title="Threshold Colors: Red: 0-2, Yellow: 3-4, Green: 5+">
                                     <a href= "/apex/ParticipantDetailPage" OnClick="openwindowcall()"> 
                                     <div id="text"><u><b><font size="2">{!lastcallcount}</font></b></u></div></a>                                     
                                </div>
                           </apex:outputPanel>                        
                        </td>  
                                                          
                    </tr>
                    <tr>
                        <td align="center">
                            <b><font size="1" color ="Black">This Month</font></b>
                        </td>
                        <td align="center">
                            <b><font size="1" color ="Black">Last Month</font></b>
                        </td>                                              
                    </tr>
               </table>
           
           </td>
           <td width="28%">
               <table width="70%" align="center" >
         <br/>
                <caption><b><font face="arial" size="3" color ="Black">Opportunities</font></b></caption>
                <tr>
                        <td colspan="2" align="center"><font size ="1" color = "Grey">Number of opportunities that are out dated</font></td>
                </tr>
                <tr>
                    <td width="50%">
                            <apex:outputPanel rendered="{!if(pastOptyCount >= 1,true,false)}">
                                <div id="circleRed" title="Threshold Colors: Red: 1+, Green: 0">
                                <a href="/apex/PastDueOpportunities" OnClick="openwindow2()">
                                    <div id="text"><u><b><font size="2">{!pastOptyCount}</font></b></u></div></a>
                                </div>
                            </apex:outputPanel>
                           <apex:outputPanel rendered="{!if(pastOptyCount < 1,true,false)}">    
                                <div id="circleGreen" title="Threshold Colors: Red: 1+, Green: 0">
                                    <div id="text"><b><font size="2">{!pastOptyCount}</font></b></div>
                                </div>
                           </apex:outputPanel>                        
                        </td>                     
                    <td>
                        <apex:outputPanel rendered="{!if(unmodifiedOptyCount >=1,true,false)}">
                            <div id="circleRed" title="Threshold Colors: Red: 1+, Green: 0">
                            <a href="/apex/OpportunityDetailPage" OnClick="openwindow()">
                            <div id="text"><u><b><font size="2">{!unmodifiedOptyCount}</font></b></u></div></a>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!if(unmodifiedOptyCount < 1,true,false)}">
                            <div id="circleGreen" title="Threshold Colors: Red: 1+, Green: 0">
                            <div id="text"><b><font size="2">{!unmodifiedOptyCount}</font></b></div>
                            </div>
                        </apex:outputPanel>                        
                    </td>             
                </tr>
                <tr>
                    <td align="center">
                        <b><font size="1" color ="Black">Past Due: Estimated Close Date in the past</font></b>
                    </td>
                    <td align="center">
                   
                        <b><font size="1" color ="Black">Not Modified for 60 Days</font></b>
                    </td>
                    
                </tr>
               </table>
           </td>          
       </tr>     
   </table><br/>
 
<table width="40%"  align="center" border="0" cellspacing="0">
       <tr>
       <apex:outputPanel rendered="{!BEGINS($Profile.Name, 'KBCM')}">
           <td>
               <table align="center">
                    <caption><b><font face="arial" size="3">Pipeline Threshold</font></b></caption>
                    <tr>
                        <td align="center"> 
                            <a onclick="window.top.location.href = '/{!ReportPipeline}'">

                                <analytics:reportChart developerName="Pipeline_Threshold" size="tiny" cacheResults="true" ></analytics:reportChart>
                            </a>
                        </td> 
                    </tr>
             </table>
           </td>
        </apex:outputPanel> 
        
        <apex:outputPanel rendered="{!BEGINS($Profile.Name, 'KEF')}">
           <td>
               <table align="center" >
                    <caption><b><font face="arial" size="3">Opportunities Without Pursue Stage</font></b></caption>
                    <tr>
                        <td align="center"> 
                            <a onclick="window.top.location='/{!ReportOptyWoPursue}'">
                                 <analytics:reportChart developerName="Opportunities_w_o_Pursue_Stage"  size="tiny" cacheResults="true"></analytics:reportChart>
                          </a>
                        </td> 
                    </tr>
             </table>
           </td>
           </apex:outputPanel> 
           <apex:outputPanel rendered="{!BEGINS($Profile.Name, 'ECP')}"> 
           <td>
           <table align="center" >
                    <caption><b><font face="arial" size="3">Open Opportunities Created This Month</font></b></caption>
                    <tr>
                        <td align="center"> 
                             <a onclick= "window.top.location.href = '/{!ReportOpenOptys}'"> 
                             <analytics:reportChart developerName="Open_Opportunities_this_Month" size="tiny" cacheResults="true"  ></analytics:reportChart>
                             </a>                  
                        </td> 
                    </tr>
             </table>
           </td>
           </apex:outputPanel> 
           <apex:outputPanel rendered="{!BEGINS($Profile.Name, 'REC')}">
           <td>
               <table align="center" >
                    <caption><b><font face="arial" size="3">Accounts without Contacts</font></b></caption>
                    <tr>
                        <td align="center">
                            <a onclick="window.top.location = '/{!ReportAccounts}'">
 
                              <analytics:reportChart developerName="Accounts_without_Contacts" size="tiny" cacheResults="true" ></analytics:reportChart>
                            </a>
                        </td> 
                    </tr>
             </table>
           </td> 
           </apex:outputPanel>   
       </tr>       
    </table>
        
       
    </apex:outputpanel> 
  
 </apex:pageblock>    
 
</apex:form>
           
</apex:page>