<apex:component >
  <apex:attribute name="Pricing_guidelines" description="The value of Pricing Description" required="true" type="String" />
  
<!-- Old change having rich text area

 <apex:outputpanel layout="block">
  <apex:inputtextarea value="{!Pricing_Guidelines}" disabled="true" readonly="true" style="background-color: #FFFF00;font-weight:bold;font-size:15px;overflow:auto;height:110px;width:90%;"/>
  </apex:outputpanel> -->
  
   <apex:outputpanel layout="block" style="background-color: #FFFF00;font-weight:bold;font-size:15px;overflow:auto;height:170px;width:100%;">
 <!-- <apex:inputtextarea value="{!Pricing_Guidelines}" disabled="true" readonly="true" style="background-color: #FFFF00;font-weight:bold;font-size:15px;overflow:auto;height:110px;width:40%;"/> <br/> -->
   <apex:outputText value="{!Pricing_Guidelines}" escape="false" style="overflow:auto;height:170px;width:100%" />
 </apex:outputpanel>
</apex:component>